body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

header {
  background-color: #000;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.search button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
}

/* Optional: Add some spacing and alignment to the header elements */
.container, nav, .search {
  display: flex;
  align-items: center;
}

nav ul {
  margin-left: 20px;
}

.search {
  margin-right: 20px;
}

.hero-image {
  background-image: url('black.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-text {
  text-align: left;
  color: #fff;
  margin-left: 20px;
}

.hero-text .content {
  max-width: 400px;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-section {
  margin-top: 20px;
}

.get-started-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.learn-more-link {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  outline: #fff;
}


/* Styles for the hero section */
.hero {
  /* Add styles specific to your hero section */
}

/* Styles for the counter section */
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo-container {
  margin: 0 250px;
}

.logo-container img {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
}

.container {
  width: 100%;
  max-width: 960px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  flex: 1;
  padding-right: 20px; /* Add right padding to create space between content and photo */
}

.pic {
  flex: 1;
  text-align: right; /* Align the photo to the right */
}

.pic1 {
  flex: 1;
  text-align: right; /* Align the photo to the right */
}

.img2 {
  width: 350px;
  height: 350px;
}





